.env
./.env
.venv
./.venv

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
test/